@use "sass:math";
//mixin ejemplo animation 


// @mixin vibra($inicio, $fin, $intensidad, $paso) {
//     $porcentaje: $inicio;
//     @while $porcentaje <= $fin {
//         $signo: if(random(2) == 1, 1, -1);
//         $rotacion: $signo * $intensidad * random();
//         $mover: $signo * 1px * random();
        
//         #{$porcentaje}% {
//             transform: translateZ(25px) rotateY(#{$rotacion}) translateX(#{$mover});
//         }
//         $porcentaje: $porcentaje + $paso;
//     }
// }

@mixin relojTransform($x, $y, $scale, $rotate){
    transform: translate($x, $y) scale($scale);
    .innerReloj{
        .clockwiseContainer{
            transform: rotateZ($rotate);
        }
    }
}

#article1{
    .divContent{
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        display: grid;
        place-items: center;
        .contentReloj{
            position: relative;
            width: 0px;
            height: 0px;
            :nth-child(1){
                .innerReloj{
                    .clockwiseContainer{
                        transform: rotateZ(-20deg);
                    }
                }
            }
            :nth-child(2){
                @include relojTransform(110px, 100px, 0.7, -25deg);
            }:nth-child(3){
                @include relojTransform(-200px, 100px, 0.7, -45deg)
            } :nth-child(4){
                @include relojTransform(100px, 0px, 0.8, -75deg);
            } :nth-child(5){
                @include relojTransform(-200px, 0px, 0.8, 105deg);
            } :nth-child(6){ 
                @include relojTransform(100px, -100px, 0.8, -130deg);
            } :nth-child(7){
                @include relojTransform(-200px, -100px, 0.8, -165deg);
            } :nth-child(8){
                @include relojTransform(-100px, -110px, 0.7, -195deg);
            } :nth-child(9){
                @include relojTransform(0px, -110px, 0.7, -225deg);
            } :nth-child(10){
                @include relojTransform(-100px, 0px, 0.8, 100deg);
            } 
        }

        // reloj  None
        //reloj none
        @for $i from 0 through 9{
            .reloj#{$i}{
                opacity: 0;
            }
        }
        .reloj{
            width: 85px;
            height: 85px;
            background-color: #ffff;
            position: absolute;
            display: grid;
            place-items: center;
            border-radius: 50%;
            border: solid 3px #a856568a;
            box-shadow: inset 0 0 10px 10px #86424288, 0 0 10px 10px #ffffff2a;
            .innerReloj{
                display: grid;
                place-items: center;
                
                .checkReloj{
                    background-color: #6ef881af;
                }
                .clockwiseContainer{
                    position: absolute;
                    width: 15px;
                    height: 10px;
                    .clockCenter{
                        background-color: #000000;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        position: relative;
                    }
                    .clockHora{
                        background-color: #000000;
                        width: 20px;
                        height: 1px;
                        position: relative;
                        transform-origin: 0% 0%;
                        animation: reloj1 86400s linear infinite;
                    }
                    .clockMin{
                        background-color: #000000;
                        width: 30px;
                        height: 1px;
                        position: relative;
                        transform-origin: 0% 0%;
                        animation: reloj2 3600s linear infinite;
                    }
                    .clockSec{
                        background-color: #000000;
                        width: 25px;
                        height: 1px;
                        position: relative;
                        transform-origin: 0% 0%;
                        animation: reloj3 60s linear infinite;
                    }
                }
            }
            @for $i from 1 through 60{
                $angle: math.div(360, 60) * $i;
                .punto#{$i}{
                    width: 1px;
                    height: 5px;
                    background-color: #000;
                    position: absolute;
                    transform: rotate(#{$angle}deg) translateY(-40px);
                }
                @if $i == 60 or $i == 5 or $i == 10
                or $i == 15 or $i == 20 or $i == 25
                or $i == 30 or $i == 35 or $i == 40
                or $i == 45 or $i == 50 or $i == 55{
                    .punto#{$i}{
                        transform: rotate(#{$angle}deg) translateY(-37.5px) scaleY(2);
                    }
                } 
                
            }
        }
        .floor{
            background-color: #0000008a;
            width: 300px;
            display: grid;
            grid-template-columns: repeat(auto-fill, 50px);
            gap: 5px;
            justify-content: center;
            padding: 10px;
            transform: rotateX(60deg) translateY(-150px) rotateZ(180deg);
            transform-style: preserve-3d;
            #btn-1{
                position: absolute;
                background-color: transparent;
                margin: 90% 47%;
                padding: 10px;
                border-width: 8px;
                border-color: blueviolet;
                animation: switch 1s ease-in-out infinite;
            } 
            .square{
                width: 50px;
                height: 50px;
                background-color: rgba(255, 255, 255, 0.1);
                border: solid 1px rgba(255, 255, 255, 0.2);
                -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
                box-shadow: 0 -4px 30px rgba(0, 0, 0, 0.1);
                transform: translateZ(25px) rotate(180deg);
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .true{
                animation: true 1s ease-in-out forwards;
            }
            .false{
                animation: glass 35s ease-in-out forwards;
            }
            .win{
                transform: translateZ(0px);
                opacity: 0;
                transition: all 0.5s ease-in-out 1s;
            }
        } 
        .winFloor{
            transform: scale(0.1) translateY(-190%);
            transition: all 1s ease-in-out 1.5s;
        }
        .shadowFloor{
            position: absolute;
            width: 300px;
            height: 550px;
            background-color: #ffffff00;
        }
    }
}

@keyframes true{
    50%, 100%{
        box-shadow: inset 0 0 15px 5px #6ef881af;
        -webkit-user-select:none;
        user-select: none;
    }
}
//false


@keyframes glass {
    0%{
        transform:  translateZ(25px);
        box-shadow: inset 0 0 15px 5px #ad0909af;
    }
    2%{
        box-shadow: none;
    }
    //ejemplo mixin como incluir 
    // @include vibra(50, 88, 10deg, 3);
    89%{
        transform: translateZ(25px);
        opacity: 1;
    }
    90%{
        transform: translateZ(-10px);
    }
    91%,99%{
        opacity: 0;
        transform: scale(0) translateZ(-10px);
    }
    100%{
        transform: scale(0) translateZ(-10px);
    }
}

//reloj animation
@for $i from 1 through 3{
    @keyframes reloj#{$i} {
        0%{
            transform: translate(5px, -4px + -$i) rotateZ(0deg);
        }
        100%{
            transform: translate(5px, -4px + -$i) rotateZ(360deg + ($i * 10));
        }
    }
}

@keyframes switch {
    0%, 100%{
        box-shadow: inset 0 1px 10px 0px beige;
        border-radius: 4px;
    }
    50%{
        box-shadow: inset 0 -1px 10px 0px red,
                    inset 0 1px 20px 0px blue;
    }
}



//hacer media query para que se vea bien en pantallas pequeñas
 $shadows: (
            0: -185px,
            1: -235px,
            2: -285px,
            3: -335px,
            4: -400px,
            5: -450px,
            6: -500px,
            7: -550px,
            8: -600px,
            9: -655px
        );
@media (max-height: 2166px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(-30px) translateY(250px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 2146px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(290px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 2126px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(285px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 2106px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(280px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 2086px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(280px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 2066px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(275px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 2046px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(275px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 2026px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(270px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 2006px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(265px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1986px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(262.5px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1966px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(260px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1946px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(255px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1926px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(250px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1906px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(245px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1886px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(245px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1866px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(240px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1846px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(235px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1826px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(230px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1806px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(225px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1786px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(222.5px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1766px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(220px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1746px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(215px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1726px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(210px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1706px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(205px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1686px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(202px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1666px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(200px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1646px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(195px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1626px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(190px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1606px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(185px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1586px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(180px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1566px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(175px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1546px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(170px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1526px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(165px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1506px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(165px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1486px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(160px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1466px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(155px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1446px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(150px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1426px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(145px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1406px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(140px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1386px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(135px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1366px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(130px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1346px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(125px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1326px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(120px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1306px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(115px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1286px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(110px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1266px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(105px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1246px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(100px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1226px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(95px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1206px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(90px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1186px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(85px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1166px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(80px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1146px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(75px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1126px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(70px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1106px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(65px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1086px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(60px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1066px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(55px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1046px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(50px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1026px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(45px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 1006px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(40px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 986px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(35px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 966px) {
    @for $i from 0 through 9{
            
        .shadowFloor{
            &.shadow#{$i}{
                transform: rotateX(60deg) translateZ(20px) translateY(20px + map-get($shadows, $i));
            }
        }
    }
}        
@media (max-height: 946px) {
    @for $i from 0 through 9{
            
        .shadowFloor{
            &.shadow#{$i}{
                transform: rotateX(60deg) translateZ(20px) translateY(10px + map-get($shadows, $i));
            }
        }
    }
}
@media (max-height: 926px) {
    @for $i from 0 through 9{
            
        .shadowFloor{
            &.shadow#{$i}{
                transform: rotateX(60deg) translateZ(20px) translateY(5px + map-get($shadows, $i));
            }
        }
    }
}        
@media (max-height: 906px) {
    @for $i from 0 through 9{
        .shadowFloor{
            &.shadow#{$i}{
                transform: rotateX(60deg) translateZ(20px) translateY(map-get($shadows, $i));
            }
        }
    }
}
@media (max-height: 896px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(30px) translateY(5px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 886px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(30px) translateY(5px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 866px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(30px) translateY(map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 846px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(30px) translateY(map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 826px) {
    @for $i from 0 through 9{
            
        .shadowFloor{
            &.shadow#{$i}{
                transform: rotateX(60deg) translateZ(30px) translateY(5px + map-get($shadows, $i));
            }
        }
    }
}    
@media (max-height: 806px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(map-get($shadows, $i));
                }
            }       
        }
} 
@media (max-height: 786px) {
    @for $i from 0 through 9{
            
        .shadowFloor{
            &.shadow#{$i}{
                transform: rotateX(60deg) translateZ(20px) translateY(15px + map-get($shadows, $i));
            }
        }
    }
}    
@media (max-height: 766px) {
    @for $i from 0 through 9{
            
        .shadowFloor{
            &.shadow#{$i}{
                transform: rotateX(60deg) translateZ(20px) translateY(25px + map-get($shadows, $i));
            }
        }
    }
}    
@media (max-height: 756px){
    @for $i from 0 through 9{
        .shadowFloor{
            &.shadow#{$i}{
                transform: rotateX(60deg) translateZ(20px) translateY(30px + map-get($shadows, $i));
            }
        }
    }
}
//funciona
@media (max-height: 746px){
    @for $i from 0 through 9{
        .shadowFloor{
            &.shadow#{$i}{
                transform: rotateX(60deg) translateZ(35px) translateY(30px + map-get($shadows, $i));
            }
        }
    }
}
// no funciona hasta aquí
@media (max-height: 726px){
    @for $i from 0 through 9{
        .shadowFloor{
            &.shadow#{$i}{
                transform: rotateX(60deg) translateZ(20px) translateY(50px + map-get($shadows, $i));
            }
        }
    }
}
@media (max-height: 706px){
    @for $i from 0 through 9{
        .shadowFloor{
            &.shadow#{$i}{
                transform: rotateX(60deg) translateZ(20px) translateY(60px + map-get($shadows, $i));
            }
        }
    }
}
@media (max-height: 686px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(70px + map-get($shadows, $i));
                }
            }       
        }
}     
@media (max-height: 667px){
    @for $i from 0 through 9{
        .shadowFloor{
            &.shadow#{$i}{
                transform: rotateX(60deg) translateZ(20px) translateY(85px + map-get($shadows, $i));
            }
        }
    }
}  
@media (max-height: 666px){
    @for $i from 0 through 9{
        .shadowFloor{
            &.shadow#{$i}{
                transform: rotateX(60deg) translateZ(20px) translateY(85px + map-get($shadows, $i));
            }
        }
    }
}  
@media (max-height: 646px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(95px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 626px) {
        @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(105px + map-get($shadows, $i));
            }
        }       
    }
}
@media (max-height: 606px) {
    @for $i from 0 through 9{
        .shadowFloor{
            &.shadow#{$i}{
                transform: rotateX(60deg) translateZ(20px) translateY(115px + map-get($shadows, $i));
            }
        }       
    }
}
@media (max-height: 586px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(125px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 566px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(135px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 546px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(145px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 526px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(155px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-height: 506px) {
    @for $i from 0 through 9{
            .shadowFloor{
                &.shadow#{$i}{
                    transform: rotateX(60deg) translateZ(20px) translateY(165px + map-get($shadows, $i));
                }
            }       
        }
}
@media (max-width: 375px){
        .shadowFloor{
            left: 5px;
        }
}