.flame{
    // width: 10px;
    // height: 20px;
    background-color: #ffd000;
    position: fixed;
    transform: translate(15px, -10px) rotateZ(45deg) scale(0.1);
    border-radius: 0% 50% 50% 50%;
    border-style: solid;
    border-width: 15px 5px 5px 15px;
    border-color: #ffc368 #ff6600 #ff6600 #ffc368;
}
.flameAnimate{
    animation: flame 1s ease forwards;
}
.flameAnimate2{
    animation: flame2 1s ease forwards;
}
@keyframes flame {
    0%{
        transform: translate(15px, -10px) rotateZ(45deg) scale(0.1);
        box-shadow: 0 0 20px 10px #ffc368;
    }
    100%{
        transform: translate(15px, -10px) rotateZ(45deg) scale(1);
        box-shadow: 0 0 200px 100px #ffc368;
    }
}
@keyframes flame2 {
    0%{
        transform: translate(15px, -10px) rotateZ(45deg) scale(1);
        box-shadow: 0 0 200px 100px #ffc368;
    }
    100%{
        transform: translate(15px, -10px) rotateZ(45deg) scale(0.1);
        box-shadow: 0 0 20px 10px #ffc368;
    }
}