@use "./sass/_article0.scss";
// @use "./sass/_article1.scss";


// @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Coral+Pixels&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Heebo:wght@100..900&family=Nosifer&family=Noto+Sans+Vai&family=Stick&family=Tagesschrift&display=swap');
@font-face {
  font-family: 'Coral Pixels';
  src: url(../src/assets/font-family/Coral_Pixels/CoralPixels-Regular.ttf) format('truetype');
}
@font-face{
  font-family: 'Tagesschrift';
  src: url(../src/assets/font-family/Tagesschrift/Tagesschrift-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Caveat';
  src: url(../src/assets/font-family/Caveat/Caveat-VariableFont_wght.ttf) format('truetype');
}
@font-face{
  font-family: 'Stick';
  src: url(../src/assets/font-family/Stick/Stick-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Edu AU VIC WA NT Arrows';
  src: url(../src/assets/font-family/Edu_AU_VIC_WA_NT_Arrows/EduAUVICWANTArrows-VariableFont_wght.ttf) format('truetype');
}
@font-face {
  font-family: 'Nosifer';
  src: url(../src/assets/font-family/Nosifer/Nosifer-Regular.ttf) format('truetype');
}
:root{
  --font-pixels: 'Coral Pixels';
  --font-tagesschrift: 'Tagesschrift';
  --font-caveat: 'Caveat';
  --font-stick: 'Stick';
  --font-edu: 'Edu AU VIC WA NT Arrows';
  --font-nosifer: 'Nosifer';
  --color-text: rgb(61, 61, 61);
  --font-inner-size: 15px;
  --color-ns: rgb(255, 119, 0);
  --color-title: rgb(119, 119, 119);
}
*, ::after, ::before{
  padding: 0%;
  margin: 0%;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: rgb(217, 217, 218);
  color: #198ad4;
  overflow: hidden;
  #root{
    width: 100vw;
    height: 100vh;
    display: flex;
    section{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h1{
        font-family: var(--font-stick);
        text-decoration:wavy underline;
        // font-optical-sizing: auto;
        font-weight: 500;
        font-size: 35px;
        position: absolute;
        top: -10px;
        // left: 50%;
        // transform: translateX(-50%);
        // z-index: 10;
      }
      article{
        width: 90%;
        height: 90%;
        border-radius: 5px;
        font-family: var(--font-nosifer);
        overflow: hidden;
        background-color: rgb(182, 182, 182);
      }
      .contentBtn{
        width: max-content;
        height: max-content;
        position: absolute;
        bottom: 15px;
        display: flex;
        gap: 15px;
        .btnSection{
          font-family: var(--font-caveat);
          // width: 100px;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          // pointer-events: none;
        }
      }
    }
  }
}

// ::view-transition-new{
//   animation: fade 2s ease-in-out both;
// }
// ::view-transition-old{
//   animation: fade 2s ease-in-out both;
// }
::view-transition{
  animation: fade 2s ease-in-out both;
}

@keyframes fade {
  from { opacity: 0; transform: scale(0);}
  to { opacity: 1; transform: scale(1);}
}
